<header>
  <div >
    <a href="/" class="name">
      <span class="name__text">Movie</span>
      <span class="name__text">Tracker</span>
    </a>
  </div>
  <nav>
    <ul class="nav-menu">
      <li class="nav-menu__text"><a routerLink="/currently-watching" routerLinkActive="active">Currently watching</a></li>
      <li class="nav-menu__text"><a routerLink="/previosly-watching" routerLinkActive="active">Previously watching</a></li>
      <li class="nav-menu__text"><a routerLink="/suggested-to-watch" routerLinkActive="active">Suggested to watch</a></li>
    </ul>
  </nav>
  <button class="btn">
    Add Movie
  </button>
</header>
